#!/bin/sh
{% if 'db' in groups and groups['db'] %}
export C4SA_MYSQL_HOST={{ groups['db'][0] }}
export C4SA_MYSQL_USER={{ mysql_vars['user'] }}
export C4SA_MYSQL_SHARED_USER={{ mysql_vars['user'] }}
export C4SA_MYSQL_PASSWORD={{ mysql_vars['password'] }}
export C4SA_MYSQL_SHARED_PASSWORD={{ mysql_vars['password'] }}
export C4SA_MYSQL_DB={{ mysql_vars['database'] }}
export C4SA_MYSQL_SHARED_DB={{ mysql_vars['database'] }}
{% endif %}

{% if 'session' in groups and groups['session'] %}
export C4SA_REDIS_SHARED_IP={{ groups['session'][0] }}
export C4SA_REDIS_SHARED_PORT={{ redis_vars['port'] }}
export C4SA_REDIS_SHARED_PASSWORD={{ redis_vars['password'] }}
{% endif %}
