[global]
pid = {{ fpm_pid }}
daemonize = no
error_log = {{ fpm_var_log_dir }}/error.log
log_level = notice

[php-fpm]
user = {{ app_user }}
group = {{ app_group }}

listen = {{ fpm_sock }}

listen.owner = {{ nginx_user }}
listen.group = {{ nginx_group }}
listen.mode = 600

pm = static
pm.max_children = 2

catch_workers_output = yes

request_terminate_timeout = 60s

php_admin_flag[log_errors] = on

include={{ etc_dir }}/php-fpm/env_{{ canvas_id }}.ini
include={{ etc_dir }}/php-fpm/custom_env_{{ canvas_id }}.ini
