[program:php-fpm({{ canvas_id }})]
command={{ etc_dir }}/php-fpm/run_php-fpm_{{ canvas_id }}.sh
numprocs=1
killasgroup=true
stdout_logfile={{ fpm_var_log_dir }}/stdout.log
stderr_logfile={{ fpm_var_log_dir }}/stderr.log
