#!/bin/bash
source {{ canvas_scripts_dir }}/envs.sh
source {{ canvas_scripts_dir }}/custom_envs.sh
source {{ canvas_scripts_dir }}/python_env.sh
cd {{ remote_app_branch_path }}
exec {{ canvas_id_dir }}/virtualenv/bin/gunicorn -c {{ etc_dir }}/gunicorn/gunicorn_{{ canvas_id }}.conf $@
