---
- name: install required packages
  yum: name={{ item }}
  with_items: 
    - openssl-devel
    - libtool
    - libtool-ltdl
    - libtidy
    - rsync

- name: create php src directory
  file: path={{ php_src_dir }} state=directory
        owner={{ ansible_ssh_user }} group=root recurse=yes

- name: create php resource directory
  file: path={{ php_resources_dir }} state=directory owner=root group=root

- name: transfer php resources to the php src directory
  synchronize: src={{ local_php_resources_dir }}/ dest={{ php_src_dir }}
               owner=no group=no delete=yes rsync_timeout=100

- name: rsync php src directory to the php resource directory
  command: "rsync -a --delay-updates --no-owner --no-group --out-format='<<CHANGED>>%i %n%L' {{ php_src_dir }}/ {{ php_resources_dir }}"
  register: rsync_result
  changed_when: rsync_result.rc == 0 and rsync_result.stdout

- name: create canvas application script directory
  file: path={{ canvas_scripts_dir }} state=directory

- name: set php_env.sh to the canvas application script directory
  template: src=php_env.sh.j2 dest={{ canvas_scripts_dir }}/php_env.sh mode=0644

- name: create interpreter.php lib directory
  file: path={{ interpreter_php_lib_dir }} state=directory
        owner={{ ansible_ssh_user }} group={{ ansible_ssh_user }}

- name: rsync the interpreter.php lib directory
  synchronize: src={{ local_interpreter_php_dir }}/lib/
               dest={{ interpreter_php_lib_dir }}
               owner=no group=no rsync_timeout=100

- name: create canvas bin dir
  file: path={{ canvas_id_dir }}/bin state=directory

- name: create php binary wrappers
  template: src=php_bin_wrapper.j2 dest={{ canvas_id_dir }}/bin/{{ item.name }} mode=755
  with_items:
    - { type: "bin", name: "php" }
    - { type: "bin", name: "php-config" }
    - { type: "sbin", name: "php-fpm" }
    - { type: "bin", name: "phpize" }

- name: create pyrus binary wrappers
  template: src=pyrus_wrapper.j2 dest={{ canvas_id_dir }}/bin/pyrus mode=755
