#!/bin/sh
PHPENV_PATH={{ php_resources_dir }}/phpenv
PHPBUILD_PATH={{ php_resources_dir }}/php-build
PATH=$PHPENV_PATH/bin:$PHPBUILD_PATH/bin:$PATH:$HOME/bin

export PATH
eval "$(phpenv init -)"
phpenv global {{ php_interpreter_version }}
