---
- name: create php-fpm directories
  file: path={{ item }}
        owner={{ app_user }} group={{ app_group }} state=directory
  with_items:
    - "{{ fpm_var_run_dir }}"
    - "{{ fpm_var_log_dir }}"

- name: create php-ini-scan directory
  file: path={{ php_ini_scan_dir }} state=directory
        owner={{ ansible_ssh_user }} group={{ ansible_ssh_user }}

- name: create php-fpm etc directory
  file: path={{ etc_dir }}/php-fpm owner=root group=root state=directory

- name: set php version file
  copy: dest={{ canvas_id_dir }}/.php-version
        content={{ php_interpreter_version }}
  notify: restart php-fpm

- name: set pyrus.ini
  copy: src={{ local_interpreter_php_dir }}/conf.d/pyrus.ini
        dest={{ php_ini_scan_dir }}/pyrus.ini
  notify: restart php-fpm

- name: set php-fpm init script
  template: src=run_php-fpm.sh.j2
            dest={{ etc_dir }}/php-fpm/run_php-fpm_{{ canvas_id }}.sh
            mode=754 owner=root group=root
  notify: restart php-fpm

- name: set php-fpm conf
  template: src=php-fpm.conf.j2
            dest={{ etc_dir }}/php-fpm/php-fpm_{{ canvas_id }}.conf
            mode=754 owner=root group=root
  notify: reload php-fpm

- name: set environment script
  template: src=templates/app_envs.sh.j2 dest={{ canvas_scripts_dir }}/envs.sh mode=754
  notify: restart php-fpm

- name: check custom environment template exists
  local_action: file path={{ local_ansible_resources_dir }}/custom_envs.j2 state=file
  sudo: no
  register: custom_env_exists
  ignore_errors: yes

- name: set custom environment script
  template: src={{ local_ansible_resources_dir }}/custom_envs.j2
            dest={{ canvas_scripts_dir }}/custom_envs.sh mode=754
  when: custom_env_exists|success
  notify: restart php-fpm

- name: create blank custom environment script
  copy: dest={{ canvas_scripts_dir }}/custom_envs.sh content="" mode=754
  when: custom_env_exists|failed
  notify: restart php-fpm

- name: set environment ini script
  template: src=env.ini.j2 dest={{ etc_dir }}/php-fpm/env_{{ canvas_id }}.ini
            mode=644 owner=root group=root
  notify: restart php-fpm

- name: check custom environment ini template exists
  local_action: file path={{ local_ansible_resources_dir }}/server_variables.j2 state=file
  sudo: no
  register: custom_env_ini_exists
  ignore_errors: yes

- name: set custom environment ini script
  template: src={{ local_ansible_resources_dir }}/server_variables.j2
            dest={{ etc_dir }}/php-fpm/custom_env_{{ canvas_id }}.ini
            mode=644 owner=root group=root
  when: custom_env_ini_exists|success
  notify: restart php-fpm

- name: create blank custom environment ini script
  copy: dest={{ etc_dir }}/php-fpm/custom_env_{{ canvas_id }}.ini content=""
        mode=644 owner=root group=root
  when: custom_env_ini_exists|failed
  notify: restart php-fpm

- name: set php-fpm.ini for supervisor
  template: src=php-fpm.ini.j2 dest=/etc/supervisord.d/php-fpm_{{ canvas_id }}.ini
            mode=644 owner=root group=root

- include: start_supervisor_process.yml process_name=php-fpm({{ canvas_id }})
