- name: install required packages
  yum: name={{ item }}
  with_items:
    - git
    - yum

- name: create remote branch mirror dir
  file: path={{ remote_app_branch_mirror_path }} state=directory
        owner={{ ansible_ssh_user }} group={{ ansible_ssh_user }}

- name: create remote branch dir
  file: path={{ remote_app_branch_path }} state=directory

- name: synchronize local branch to remote
  synchronize: src={{ local_app_branch_path }}/ dest={{ remote_app_branch_mirror_path }}
               owner=no group=no delete=yes rsync_timeout=100
  sudo: no

- name: update remote branch using git
  git: repo={{ remote_app_branch_mirror_path }} dest={{ remote_app_branch_path }} force=no
  register: repo_update

- name: chown remote branch to app user
  file: path={{ remote_app_branch_path }} state=directory
        owner={{ app_user }} group={{ app_group }} recurse=yes

- include: ruby.yml
  when: repo_update|changed and app_type is defined and app_type == 'ruby'
