---
canvas_id: c4sa_canvas

var_run_dir: /var/run/c4sa
var_log_dir: /var/log/c4sa
var_lock_dir: /var/lock/c4sa
etc_dir: /etc/c4sa
src_dir: /c4sa/src
canvases_dir: /canvases
canvas_id_dir: "{{ canvases_dir }}/{{ canvas_id }}"
canvas_scripts_dir: "{{ canvas_id_dir }}/scripts"

appliance_version: 1.0.0

php_interpreter_version: 5.4.5
interpreter_php_appliance_id: php
interpreter_php_lib_dir: "{{ canvas_id_dir }}/{{ interpreter_php_appliance_id }}/lib"
php_ini_scan_dir: "{{ canvas_id_dir }}/php.d"

local_php_resources_dir: /c4sa/http-server.nginx/{{ appliance_version }}
local_ansible_resources_dir: /canvases/ansible_resources
local_interpreter_php_dir: "{{ canvas_id_dir }}/{{ interpreter_php_appliance_id }}"
