#!/bin/bash
source {{ canvas_scripts_dir }}/envs.sh
source {{ canvas_scripts_dir }}/custom_envs.sh
source {{ canvas_scripts_dir }}/ruby_env.sh
exec unicorn -c {{ etc_dir }}/unicorn/unicorn_{{ canvas_id }}.conf
