---
var_run_dir: /var/run/c4sa
var_log_dir: /var/log/c4sa
var_lock_dir: /var/lock/c4sa
etc_dir: /etc/c4sa
src_dir: /c4sa/src

canvas_id: c4sa_canvas

nginx_user: nginx
nginx_group: nginx
nginx_user_home: /var/cache/nginx
nginx_user_is_system_user: yes

nginx_vars:
  http_port: 80
  https_port: 443
  server_socket: 80
  server_name: "{{ ansible_eth0.ipv4.address }}"
  document_root_prefix: "{{ canvas_id_dir }}"
  server_addr: "{{ ansible_eth0.ipv4.address }}"

appliance_version: 1.0.0
local_nginx_resources_dir: /c4sa/http-server.nginx/{{ appliance_version }}
